.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: none;
  border: none;
  font-size: 16px;
  line-height: 20.08px;
  font-family: 'Inter';
  font-weight: 700;
  color: #FFF;
  background: linear-gradient(44.11deg, #9D5EBD 15.75%, #9F06FF 84.63%);
  white-space: nowrap;
  border-radius: 35px;
  cursor: pointer;
  padding: {
    top: 15px;
    bottom: 15px;
    left: 48px;
    right: 48px;
  }
}