.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 24px;
  & > h5 {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-align: left;
    color: black;
    text-transform: uppercase;
  }
  & > label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 12px;
    & > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      & > span {
        margin-bottom: 4px;
        font-family: 'Inter';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        color: #7D7D8C;
        & > span {
          position: relative;
          bottom: 5px;
          color: #EB5757;
        }
      }
    }
    & > span {
      margin-bottom: 4px;
      font-family: 'Inter';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
      color: #7D7D8C;
      & > span {
        position: relative;
        bottom: 1px;
        color: #EB5757;
      }
    }
    & > input:not([type=file]), & > textarea {
      min-width: 443px;
      border-radius: 6px;
      background-color: #EBF3F9;
      font-family: 'Inter';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: left;
      border: none;
      outline: none;
      padding: 10px 15px;
      resize: none;
      &::placeholder {
        color: #7D7D8C;
      }
    }
    & .fileLabel {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      & > span {
        padding: 10px 29px;
        background: none;
        background-color: #7F4B87;
        border-radius: 6px;
        color: white;
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
        margin-right: 18px;
        cursor: pointer;
      }
      & > p {
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;
        color: #252323;
      }
    }
  }
  & > button {
    margin-top: 22px;
    width: 100%;
    padding: 10px 29px;
    background: none;
    background-color: #7F4B87;
    border-radius: 6px;
    color: white;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    margin-right: 18px;
  }
  & .deleteButton {
    padding: 0;
    background: none;
    background-color: transparent;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: #EB5757;
  }
}