.root {
  width: 100%;
  height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;
  &-wrapper {
    z-index: 100;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #EFD1F5;
  }
  & > p {
    font-family: 'Inter';
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1px;
    text-align: left;
    margin-right: 50px;
    & > button {
      display: inline-flex;
      text-decoration: underline;
      font-family: 'Inter';
      font-size: 10px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 1px;
      background: none;
      padding: 0;
      color: black;
    }
  }
  & > button {
    padding: 16px 97px;
    background: none;
    background-color: #7F4B87;
    border-radius: 6px;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
  }
}