.root {
  padding-right: 8% !important;
  padding-left: 8% !important;
  & > p {
    margin-right: 24px;
    line-height: 14px;
  }
  & > button {
    padding: 12px 50px;
    font-size: 14px;
    line-height: 17.4px;
  }
}