.root {
  padding-right: 2% !important;
  padding-left: 2% !important;
  flex-direction: column-reverse !important;
  & > p {
    width: 100%;
    margin-right: 0;
    font-size: 9px;
    line-height: 12px;
    text-align: center;
  }
  & > button {
    width: 100%;
    padding: 15px 42px;
    font-size: 12px;
    line-height: 17.4px;
    margin-bottom: 14px;
  }
}