.root {
  padding-right: 6% !important;
  padding-left: 6% !important;
  & > p {
    margin-right: 10px;
    font-size: 8px;
    line-height: 12px;
  }
  & > button {
    padding: 12px 30px;
    font-size: 14px;
    line-height: 17.4px;
  }
}