.root {
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 500px;
  width: 100%;
  & > h3 {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-align: left;
    margin-bottom: 20px;
  }
  & > .controls {
    margin-top: 0;
    & > button {
      display: flex;
      margin-bottom: 12px;
      background: none;
      background: #7F4B87;
      padding: 10px 21px;
      border-radius: 6px;
      font-family: 'Inter';
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: center;
      min-width: 150px;
      &:hover {
        opacity: 0.8;
      }
      &:last-child {
        color: #7F4B87;
        background-color: transparent;
        border: 1px solid#7F4B87;
        &:hover {
          background-color: #7F4B87;
          color: white;
        }
      }
    }
  }
  & > div {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    &.isActive {
      & > p {
        color: black;
      }
    }
    & > p {
      max-width: 500px;
      width: 500px;
      font-family: 'Inter';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: left;
      padding-top: 8px;
      padding-bottom: 8px;
      color: #7D7D8C;
      background-color: #EBF3F9;
      padding: 10px 16px;
      border-radius: 6px;
    }
    & > div {
      margin-left: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      & > button {
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: none;
        width: 42px;
        height: 42px;
        background-color: #EBF3F9;
        border-radius: 6px;
        margin-left: 10px;
        &:first-child {
          margin-left: 0;
        }
        &:hover {
          opacity: 0.8;
        }
      }
      & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 42px;
        width: 30px;
        & > button {
          border: none;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          background: none;
          width: 18px;
          height: 18px;
          background-color: #EBF3F9;
          border-radius: 6px;
          &:disabled {
            opacity: 0.8;
            & > img {
              opacity: 0.4;
            }
          }
          &:first-child {
            transform: rotate(180deg);
          }
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}