.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 96px;
}

.news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 120px;
  padding-top: 101px;
  &-image {
    flex-basis: 48%;
    & > picture > img {
      filter: drop-shadow(0px 20.4945px 63.4355px rgba(202, 202, 238, 0.5));
      width: 100%;
    }
  }
  &-text {
    flex-basis: 48%;
    width: 100%;
    & > h5 {
      font-family: "Manrope";
      font-size: 32px;
      font-weight: 800;
      line-height: 46px;
      letter-spacing: 0em;
      color: #000;
      margin-bottom: 10px;
    }
    & > p {
      font-family: Inter;
      font-size: 20px;
      font-weight: 400;
      line-height: 34px;
      letter-spacing: 0px;
      color: $color-text-black-light;
      margin-bottom: 20px;
    }
    &__button {
      font-family: "Inter";
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: 0px;
      text-align: left;
    }
    &__image {
      display: none;
    }
  }
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  &-logo {
    width: 45%;
    flex-basis: 22%;
    & > img {
      // display: none;
      // width: 100%;
    }
    &__contact {
      display: none;
    }
  }
  &-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 70%;
    & > h6 {
      font-family: "Inter";
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0px;
      margin-bottom: 24px;
    }
    & > p {
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0px;
      color: #222;
      opacity: 0.6;
    }
    &__contact {
      margin-top: 12px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      & > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
      & > span {
        font-family: "Manrope";
        font-size: 14px;
        font-weight: 800;
        line-height: 24px;
        letter-spacing: 0em;
        color: #222;
      }
    }
    &__copyright {
      margin-top: 14px;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      font-family: 'Open Sans';
      background: none;
      font-weight: 400;
      color: #7A7A7A;
      font-size: 14px;
      line-height: 1.8;
      & > button {
        font-family: 'Open Sans';
        padding: 0;
        background: none;
        font-weight: 400;
        color: #7A7A7A;
        font-size: 14px;
        line-height: 1.8;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}