.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F2EDF8;
  margin-bottom: 5.5vw;
}
.content {
  border-radius: 30px;
  background-color: white;
  margin-top: 32px;
  margin-bottom: 5.5vw;
  padding-top: 5px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  & > div {
    padding-left: 4%;
    padding-right: 8%;
    width: 100%;
    margin-top: 30px;
    &.title {
      padding-right: 4%;
    }
    & > h2 {
      color: #001A49;
      text-align: center;
      font-size: 36px;
      line-height: 1.2;
      font-family: 'Manrope';
      font-weight: 800;
    }
    & > h3 {
      color: #001A49;
      text-align: center;
      font-size: 24px;
      line-height: 1.4;
      font-family: 'Manrope';
      font-weight: 800;
    }
    & > h4 {
      margin-bottom: 10px;
      color: black;
      font-family: 'Inter';
      font-size: 20px;
      line-height: 1.2;
    }
    & > div {
      & > p {
        margin-top: 10px;
        color: black;
        font-family: 'Inter';
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }
}