.content {
  & > div {
    margin-top: 20px;
    &.title {
      margin-top: 24px;
    }
    & > h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    & > h3 {
      font-size: 18px;
    }
    & > h4 {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 7px;
    }
    & > div {
      & > p {
        margin-top: 5px;
        font-size: 15px;
        line-height: 1.6;
      }
    }
  }
}