.root {
  // background-color: #EFD1F5;
}

.main {
  z-index: 20;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: {
    top: 32px;
    bottom: 48px;
  }
  &-wrapper {
    background-color: #F2EDF8;
  }
  &-block {
    background-color: #FFFFFF;
    color: $color-text-black;
    font-family: 'Manrope';
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    box-shadow: 10.75px 43px 53.75px rgba(229, 233, 246, 0.4);
    &.big {
      margin-bottom: 32px;
      flex-basis: 100%;
      box-shadow: none;
      padding: {
        top: 35px;
        left: 47px;
        right: 47px;
        bottom: 35px;
      }
    }
    &__container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__wrapper {
      flex-basis: 49%;
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      & > div {
        justify-content: space-between;
        height: 100%;
        padding-bottom: 0;
      }
    }
    &__content {
      position: relative;
      width: 100%;
      height: 100%;
      &-line {
        position: absolute;
        height: 100%;
        width: 18%;
        z-index: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('../../../assets/img/main_line.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        min-width: 140px;
      }
      & > h2 { 
        font-size: 44px;
        line-height: 70px;
        font-weight: 800;
        // margin-bottom: 24px;
      }
      & > p {
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
      }
      &-buttonBig {
        margin-top: 34px;
        background: none;
        background-color: #6D3676;
        border-radius: 7px;
        font-weight: 700;
        font-size: 19px;
        line-height: 27.5px;
        box-shadow: 0px 2px 4px -2px rgba(24, 39, 75, 0.12), 0px 4px 4px -2px rgba(24, 39, 75, 0.08);
        padding: {
          top: 15px;
          bottom: 15px;
          right: 23px;
          left: 23px;
        }
      }
      &-small {
        padding: {
          top: 38px;
          left: 47px;
          right: 47px;
        }
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        & > p {
          min-height: 200px;
        }
        & > .anounce {
          position: absolute;
          right: 0;
          top: 21.5%;
          display: flex;
          justify-content: center;
          align-items: center;
          filter: drop-shadow(8px 16px 44px #B0B5C1);
          & > span {
            color: white;
            position: absolute;
            font-family: 'Montserrat';
            font-size: 15px;
            font-style: normal;
            font-weight: 800;
            line-height: 19px;
            letter-spacing: 2.3419690132141113px;
            text-align: center;
          }
        }

        & > h3 {
          font-size: 36px;
          line-height: 56px;
          font-weight: 800;
          font-family: 'Montserrat';
        }
        &__authors {
          max-height: 313px;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          padding-top: 36px;
          padding-bottom: 36px;
          & > p {
            font-size: 18px;
            line-height: 24px;
            font-family: 'Inter';
            font-weight: 400;
            color: $color-text-black-light;
            margin-bottom: 8px;
          }
          & > span {
            color: #6D3676;
            font-size: 22px;
            line-height: 27px;
            font-family: 'Montserrat';
            font-weight: 700;
            margin-top: 3px;
          }
        }
        & > img {
          position: absolute;
          bottom: 0;
          right: 16px;
        }
        &__postTitle {
          position: relative;
          min-height: 80px;
          & > h4 {
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            // font-feature-settings: 'liga' off;
            letter-spacing: initial;
            position: relative;
            z-index: 10;
          }
          $color_1: rgba(46, 197, 206, 0.5);;
          $color_2: #DCC2E8;
          &::before, &::after {
            content: '';
            display: block;
            height: 20px;
            background-color: $color_1;
            position: absolute;
            left: 4px;
            z-index: 0;
          }
          &::before {
            width: 165px;
            top: 21px;
          }
          &::after {
            display: none;
            width: 387px;
            top: 61px;
          }
          &-1 {
            margin-bottom: 0;
          }
          &-2 {
            margin-bottom: 25px;
            &::before, &::after {
              background-color: $color_2;
            }
            &::before {
              width: 148px;
            }
            &::after {
              width: 212px;
            }
          }
        }
        &__1 {
          padding-bottom: 0;
          & > h3 {
            margin-bottom: 24px;
          }
          & h4 {}
          & > p {
            margin-bottom: 10px;
          }
          & > img {
            width: 50%;
          }
        }
        &__2 {
          min-height: 320px;
          padding-bottom: 32px;
          & > h3 {
            margin-bottom: 10px;
          }
          & h4 {
            width: 221px;
          }
          & > p {
            width: 280px;
          }
          & > img {
            width: 220px;
          }
        }
      }
    }
    &__footer {
      background: none;
      width: 100%;
      background-color: #E2C7F3;
      color: #682379;
      font-weight: 800;
      text-transform: uppercase;
      font-family: 'Montserrat';
      line-height: 24px;
      letter-spacing: 4px;
      border-radius: 0%;
      padding: {
        top: 43px;
        bottom: 43px;
        left: 72px;
        right: 72px;
      }
    }
  }
}

.library {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $color-text-black;
  width: 100%;
  padding: {
    top: 80px;
    bottom: 80px;
  }
  &-wrapper {
    background-color: #EBFAFB;
  }
  & > h2 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 46px;
    line-height: 56px;
    text-align: left;
    width: 100%;
    margin-bottom: 30px;
  }
}

.quest {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-wrapper {
    background-color: #F2EDF8;
  }
  & > h3 {
    font-family: "Montserrat";
    font-size: 46px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 0px;
    color: $color-text-black;
    margin-bottom: 10px;
  }
  & > p {
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    color: $color-text-black-light;
    text-align: center;
    margin-bottom: 10px;
  }
  &-videos {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    &__slider {
      max-width: 934px;
      width: 100%;
      &-arrow {
        z-index: 50;
        background-color: #FAF4FF;
        border-radius: 24%;
        border: none;
        background-color: #FAF4FF;
        border-radius: 12px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        & > img {
          // position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          width: 40%;
        }
        &::after {
          content: '';
          display: block;
          padding-top: 100%;
        }
        &__wrapper {
          position: relative;
          width: 6.5%;
          min-width: 28px;
          min-height: 28px;
          max-width: 54px;
          max-height: 54px;
          margin-right: 3.5%;
          margin-top: 210px;
          display: flex;
          justify-content: center;
          align-items: center;
          &.next {
            margin-right: 0;
            margin-left: 3.5%;
            & > button {
              transform: rotate(180deg);
            }
          }
          &::after {
            content: '';
            display: block;
            padding-top: 100%;
          }
        }
      }
      &-wrapper {
        width: 85%;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      // max-width: 934px;
      &.disabled {
        cursor: default;
        & > div > picture > img {
          opacity: 0.5;
        }
      }
      & > div {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 40px;
        overflow: hidden;
        & > picture > img {
          position: absolute;
          z-index: 10;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
        }
        &::after {
          display: block;
          content: '';
          padding-top: 56%;
        }
        & > .flagAnounce {
          position: absolute;
          text-transform: uppercase;
          z-index: 20;
          top: 0;
          left: 5.5%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 22%;
          max-width: 193px;
          filter: drop-shadow(14.9263px 27.7698px 76.3669px #B0B5C1);
          & > img {
            width: 100%;
          }
          & > span {
            top: 12%;
            position: absolute;
            color: #FFF;
            font-family: "Montserrat";
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 3px;
            text-align: center;
          }
        }
      }
    }
  }
  &-materials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    padding-left: 2%;
    padding-right: 2%;
    & > h3 {
      font-family: "Montserrat";
      font-size: 46px;
      font-weight: 800;
      line-height: 56px;
      letter-spacing: 0px;
      color: $color-text-black;
      margin-bottom: 10px;
    }
    & > p {
      font-family: "Inter";
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0px;
      color: $color-text-black-light;
      text-align: center;
      margin-bottom: 10px;
    }
    &__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #AFBFC0;
      padding-top: 18px;
      padding-bottom: 18px;
      width: 100%;
      & > img {
        margin-right: 18px;
      }
      & > div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        & > p {
          font-family: "Inter";
          font-size: 20px;
          font-weight: 400;
          line-height: 1.4;
          letter-spacing: 0em;
          flex-basis: 100%;
          color: #000;
          padding-right: 3%;
        }
        & > button {
          padding: 13px 34px;
          background: none;
          background-color: #fff;
          font-family: "Manrope";
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 800;
          line-height: 18px;
          letter-spacing: 2px;
          border: none;
          white-space: nowrap;
          color: #000;
          border-radius: 10px;
        }
      }
    }
    & > button {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-radius: 12px;
      background: #B380D0;
      box-shadow: 0px 1.8125px 3.625px -1.8125px rgba(24, 39, 75, 0.12), 0px 3.625px 3.625px -1.8125px rgba(24, 39, 75, 0.08), 9.74219px 38.9688px 48.7109px rgba(229, 233, 246, 0.4);
      padding: 13px 38px;
      margin-top: 20px;
      & > span {
        text-transform: uppercase;
        margin-right: 10px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 2px;
        font-feature-settings: 'liga' off;
      }
      &.opened {
        & > img {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.editButton {
  border: none;
  background-color: #7A2C86;
  border-radius: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-left: 20px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}