.quest {
  &-videos {
    &__slider {
      &-wrapper {
        width: 80%;
      }
      &-arrow {
        &__wrapper {
          left: 3vw;
          &.next {
            left: initial;
            right: 3vw;
          }
        }
      }
    }
  }
}