.main {
  padding-bottom: 16px;
  &-block {
    &.big {
    }
    &__container {
      flex-direction: column;
    }
    &__wrapper {
      margin-bottom: 35px;
    }
    &__content {
      & > h2 {
        font-size: 32px;
        line-height: 51px;
      }
      &-line {
        // width: auto;
        // height: 100%;
        // object-fit: fill;
      }
      &-buttonBig {
        font-size: 13px;
        line-height: 20px;
        padding: 9px 16px;
      }
      &-small {
        padding-top: 32px;
        padding-left: 24px;
        padding-right: 24px;
        & > p {
          min-height: 140px;
        }
        & > h3 {
          font-size: 26px;
          white-space: nowrap;
        }
        &__1 {
          & > p {
            margin-bottom: 8px;
          }
          & > img {
            width: 32%
          }
        }
        &__2 {
          & > img {
            width: 20%;
            max-width: 182px;
          }
        }
        &__postTitle {
          &-1 {
            & > h4 {
              font-size: 24px;
              width: calc(100% - 248px);
              white-space: nowrap;
              & > br {
                content: '';
              }
            }
            &::before {
              top: 17px;
              width: 128px;
              height: 16px;
            }
            &::after {
              top: 51px;
              width: 290px;
              height: 16px;
            }
          }
          &-2 {
            & > h4 {
              font-size: 23px;
              width: calc(100% - 248px);
              & > br {
                content: '';
              }
            }
            &::before {
              top: 17px;
              width: 110px;
              height: 16px;
            }
            &::after {
              top: 50px;
              width: 145px;
              height: 16px;
            }
          }
        }
        & p {
          font-size: 14px;
          line-height: 1.4;
        }
        &__authors {
          & > span {
            font-size: 18px;
          }
        }
      }
    }
  }
}

.library {
  padding-top: 28px;
  padding-bottom: 42px;
  & > h2 {
    text-align: center;
    font-size: 42px;
    line-height: 51px;
    margin-bottom: 16px;
  }
}

.quest {
  padding-top: 26px;
  padding-bottom: 105px;
  & > h3 {
    text-align: center;
    font-family: "Montserrat";
    font-size: 42px;
    font-weight: 800;
    line-height: 51px;
    letter-spacing: 0px;
    color: $color-text-black;
    margin-bottom: 7px;
  }
  & > p {
    text-align: center;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
    color: $color-text-black-light;
    text-align: center;
    margin-bottom: 18px;
    padding-left: 3vw;
    padding-right: 3vw;
  }
  &-videos {
    &__slider {
      &-arrow {
        &__wrapper {
          margin-top: 18vw;
        }
      }
    }
    &__item {
      & > div {
        & > .flagAnounce {
          & > span {
            top: 17%;
            font-size: 18px;
            line-height: 26px;
          }
        }
      }
    }
  }
  &-materials {
    & > h3 {
      text-align: center;
      font-family: "Montserrat";
      font-size: 42px;
      font-weight: 800;
      line-height: 51px;
      letter-spacing: 0px;
      color: $color-text-black;
      margin-bottom: 9px;
    }
    & > p {
      text-align: center;
      font-family: "Inter";
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0px;
      color: $color-text-black-light;
      text-align: center;
      margin-bottom: 10px;
    }
    &__item {
      & > img {

      }
      & > div {
        & > p {
          font-size: 18px;
        }
        & > button {
          font-size: 12px;
          line-height: 16px;
          padding: 12px 22px;
        }
      }
    }
  }
}