.main {
  &-block {
    &.big {
      padding-left: 5px;
    }
    &__content {
      padding-left: 32px;
      padding-right: 32px;
      & > p {
        font-size: 22px;
      }
      & > button {
        margin-top: 20px;
      }
      &-small {
        & > p {
          min-height: 160px;
        }
        &__1 {
          & > img {
            width: 240px;
          }
        }
        &__2 {
          & > h3 {
            margin-bottom: 8px;
          }
          & > p {
            width: 235px;
            line-height: 20px;
          }
          & > img {
            width: 36%;
            right: 11px;
          }
        }
        &__postTitle {
          &-1 {
            & > h4 {
              font-size: 26px;
              line-height: 33px;
            }
            &::before {
              top: 17px;
              width: 138px;
              height: 17px;
            }
            &::after {
              top: 52px;
              width: 320px;
              height: 17px;
            }
          }
          &-2 {
            margin-bottom: 21px;
            & > h4 {
              font-size: 25px;
              line-height: 32px;
            }
            &::before {
              height: 17px;
              width: 121px;
              top: 17px;
            }
            &::after {
              height: 17px;
              width: 173px;
              top: 50px;
            }
          }
        }
        & > p {
          width: 280px;
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
    &__footer {
      padding-top: 32px;
      padding-bottom: 32px;
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.quest {
  &-videos {
    &__item {
      & > div {
        & > .flagAnounce {
          & > span {
            top: 17%;
            font-size: 22px;
            line-height: 26px;
          }
        }
      }
    }
  }
}