.main {
  &-block {
    flex-basis: 100%;
    width: 100%;
    &__wrapper {
    }
    &.big {
      padding-left: 0;
      padding-right: 22px;
    }
    &__content {
      padding-left: 22px;
      padding-right: 0;
      & > h3 {
        font-size: 28px;
        line-height: 45px;
      }
      & > p {
        // white-space: nowrap;
        font-size: 21px;
        line-height: 28px;
      }
      &-big {
        & > p {
          & > br {
            content: '';
          }
        }
      }
      &-small {
        padding-left: 32px;
        padding-right: 32px;
        flex-basis: 100%;
        & > h3 {
          font-size: 33px;
          line-height: 45px;
        }
        & > p {
          min-height: initial;
          font-size: 15px;
          line-height: 19px;
        }
        &__authors {
          & > span {
            font-size: 18px;
            line-height: 22px;
          }
        }
        &__1 {
          & > img {
            width: 43%;
            max-width: 222px;
          }
        }
        &__2 {
          padding-bottom: 27px;
          & > img {
            width: 35%;
            right: 2px;
            max-width: 148px;
          }
        }
        & > .anounce {
          top: 23%;
          & > span {
            font-size: 12px;
          }
          & > img {
            height: 35px;
          }
        }
        &__postTitle {
          &::before {
            height: 16px;
            top: 18px;
            display: none;
          }
          &::after {
            height: 16px;
            top: 49px;
            display: none;
          }
          & > h4 {
            font-size: 27px;
            line-height: 32px;
            white-space: initial;
            & > br {
              content: '';
            }
          }
          &-1 {
            & > h4 {
              font-size: 27px;
              width: calc(100% - 218px);
            }
          }
          &-2 {
            & > h4 {
              font-size: 27px;
              width: calc(100% - 218px);
            }
          }
        }
      }
      &-buttonBig {
        padding: 16px;
        font-size: 20px;
        line-height: 31px;
      }
      &-line {
        display: none;
      }
    }
    &__footer {
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 18px;
      line-height: 22px;
    }
  }
}

.quest {
  padding-top: 10px;
  & > h3 {
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 800;
    line-height: 35px;
    letter-spacing: 0px;
    color: $color-text-black;
    margin-bottom: 0;
  }
  & > p {
    font-family: "Inter";
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    color: $color-text-black-light;
    text-align: center;
    margin-bottom: 10px;
    & > br {
      content: '';
    }
  }
  &-videos {
    padding-left: 1vw;
    padding-right: 1vw;
    &__slider {
      &-wrapper {
        position: relative;
        width: 100%;
      }
      &-arrow {
        &__wrapper {
          position: absolute;
          bottom: 0;
          margin-top: 0;
          margin-right: 0;
          margin-left: 0;
          width: 12%;
          left: 4vw;
          &.next {
            left: initial;
            right: 4vw;
            margin-left: 0;
            margin-right: 0;
          }
        }
        & > img {
          width: 40%;
        }
      }
    }
    &__item {
      padding-bottom: 12.5vw;
    }
  }
  &-materials {
    & > h3 {
      font-family: "Montserrat";
      font-size: 30px;
      font-weight: 800;
      line-height: 35px;
      margin-bottom: 8px;
      letter-spacing: 0px;
      color: $color-text-black;
      text-align: center;
      margin-bottom: 18;
      padding: 0 40px;
    }
    & > p {
      font-family: "Inter";
      font-size: 19px;
      font-weight: 400;
      letter-spacing: 0px;
      color: $color-text-black-light;
      text-align: center;
      margin-bottom: 10px;
      line-height: 33px;
      padding: 0 40px;
      & > br {
        content: '';
      }
    }
    &__item {
      align-items: flex-start;
      padding-right: 22px;
      & > img {
        padding-top: 12px;
        margin-right: 14px;
      }
      & > div {
        flex-direction: column;
        align-items: flex-start;
        & > p {
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 15px;
        }
        & > button {
          font-size: 11px;
          line-height: 18px;
          padding: 13px 0;
          width: 100%;
          max-width: 320px;
          align-self: center;
        }
      }
    }
  }
}