.main {
  &-block {
    &__content {
      &-small {
        padding-left: 3%;
        padding-right: 3%;
        & > h3 {
          white-space: initial;
          margin-bottom: 30px;
        }
        & > p {
          width: initial;
          // max-width: 170px;
        }
        & > img {
          display: none;
        }
        &__postTitle {
          & > h4 {
            max-width: initial;
          }
          &-1 {
            & > h4 {
              width: calc(100%);
            }
          }
          &-2 {
            & > h4 {
              width: calc(100%);
            }
          }
        }
        &__2 {
          & > .anounce  {
            // width: 180px;
            top: 23%;
            & > span {
              font-size: 10px;
              line-height: 12;
              margin-left: 10px;
            }
            & > img {
              height: 30px;
            }
          }
        }

      }
    }
  }
}