.main {
  padding-bottom: 0;
  &-block {
    &__container {
      flex-direction: column;
      align-items: flex-start;
    }
    &__wrapper {
      margin-bottom: 32px;
    }
    &__content {
      &-line {
        min-width: 0;
      }
      & > h2 {
        font-size: 44px;
        line-height: 70px;
      }
      
      & > p {
        font-size: 16px;
        line-height: 22px;
      }
      &-small {
        & > h3 {
          font-size: 26px;
          line-height: 36px;
        }
        &__1 {
          & > h3 {
            margin-bottom: 14px;
          }
          & > p {
            margin-bottom: 6px;
          }
          & > img {
            width: 40%;
          }
        }
        &__2 {
          padding-bottom: 23px;
          & > h3 {
            margin-bottom: 10px;
          }
          & > img {
            right: 46px;
            max-width: 160px;
            width: 30%;
          }
        }
        & > p {
          font-size: 12px;
          line-height: 15px;
        }
        & > span {
          font-size: 13px;
          line-height: 16px;
        }
        &__postTitle {
          &::before {
            left: 3px;
            height: 12px;
            top: 12px;
          }
          &::after {
            left: 3px;
            height: 12px;
            top: 36px;
          }
          &-1 {
            & > h4 {
              font-size: 27px;
              line-height: 30px;
              width: calc(100% - 248px);
            }
            &::before {
              display: none;
              width: 96px;
            }
            &::after {
              display: none;
              width: 226px;
            }
          }
          &-2 {
            margin-bottom: 15px;
            & > h4 {
              font-size: 27px;
              line-height: 30px;
              width: calc(100% - 248px);
            }
            &::before {
              display: none;
              width: 88px;
            }
            &::after {
              display: none;
              width: 117px;
            }
          }
        }
        & > p {
          width: 60%;
        }
      }
    }
    &__footer {
      padding-top: 23px;
      padding-bottom: 23px;
      font-size: 12px;
      line-height: 15px;
    }
  }
}

.library {
  background-color: #F2EDF8;
  padding-top: 14px;
  & > h2 {
    text-align: center;
    font-size: 30px;
    line-height: 56px;
    margin-bottom: 0;
  }
}

.quest {
  & > h3 {
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 0px;
    color: $color-text-black;
    margin-bottom: 0;
  }
  & > p {
    font-family: "Inter";
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    color: $color-text-black-light;
    text-align: center;
    margin-bottom: 10px;
    & > br {
      content: '';
    }
  }
  &-videos {
    &__item {
      & > div {
        border-radius: 20px;
        & > .flagAnounce {
          min-width: 140px;
          & > span {
            top: 17%;
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }
  }
  &-materials {
    & > h3 {
      font-family: "Montserrat";
      font-size: 30px;
      font-weight: 800;
      line-height: 56px;
      letter-spacing: 0px;
      color: $color-text-black;
      margin-bottom: 0;
    }
    & > p {
      font-family: "Inter";
      font-size: 13px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0px;
      color: $color-text-black-light;
      text-align: center;
      margin-bottom: 10px;
      & > br {
        content: '';
      }
    }
    &__item {
      & > div {
        & > p {
          font-size: 13px;
        }
        & > button {
          font-size: 11px;
          line-height: 1.3;
          padding: 9px 16px;
        }
      }
    }
  }
}