.root {
  justify-content: space-between;
  align-items: center;
  height: 6vw;
  min-height: 80px;
  max-height: 102px;
  position: relative;
  z-index: 10000;
  & > a {
    height: 100%;
    width: auto;
    $paddingY: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: {
      top: $paddingY;
      bottom: $paddingY;
    }
  }
}
.wrapper {
  background-color: #FFF;
  position: sticky;
  z-index: 100;
  width: 100%;
  top: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.navWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 10px;
  & > nav {
    padding: {
      right: 20px;
      left: 20px;
    };
    display: flex;
    flex-shrink: 0;
    & > button {
      background: none;
      border: none;
      margin-right: 50px;
      white-space: nowrap;
      font-family: 'Montserrat';
      flex-shrink: 0;
      color: $color-text-black;
      text-decoration: none;
      font-weight: 700;
      width: auto;
      font-size: 16px;
      &:hover {
        text-decoration: underline;
      }
      &:last-child {
        flex-grow: 1;
        margin-right: 0;
      }
    }
  }
}

.burger {
  display: none;
}