.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 12px;
}

.head {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  & > h5 {
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #7D7D8C;
    margin-bottom: 4px;
  }
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  & > p {
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    background-color: #EBF3F9;
    padding: 10px 16px;
    border-radius: 6px;
  }
  & > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    & > button {
      padding: 13px;
      margin-left: 16px;
      background: none;
      border: none;
      background-color: #EBF3F9;
      padding: 12px 16px;
      border-radius: 6px;
    }
    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 42px;
      width: 30px;
      & > button {
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: none;
        width: 18px;
        height: 18px;
        background-color: #EBF3F9;
        border-radius: 6px;
        &:disabled {
          opacity: 0.8;
          & > img {
            opacity: 0.4;
          }
        }
        &:first-child {
          transform: rotate(180deg);
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}