.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.content {
  margin-top: 174px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > h2 {
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
  }
  // width: 100%;
  & > label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 12px;
    & > span {
      margin-bottom: 4px;
      font-family: 'Inter';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
      color: #7D7D8C;
      & > span {
        position: relative;
        bottom: 1px;
        color: #EB5757;
      }
    }
    & > input:not([type=file]), & > textarea {
      min-width: 443px;
      border-radius: 6px;
      background-color: #EBF3F9;
      font-family: 'Inter';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: left;
      border: none;
      outline: none;
      padding: 10px 15px;
      resize: none;
      &::placeholder {
        color: #7D7D8C;
      }
    }
  }
  & > button {
    margin-top: 30px;
    width: 100%;
    padding: 10px 29px;
    background: none;
    background-color: #7F4B87;
    border-radius: 6px;
    color: white;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
  }
}