.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  & > button {
    width: 100%;
    background: none;
    background-color: #F1E4F9;
    color: $color-text-black;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
      background: linear-gradient(44.11deg, #9D5EBD 15.75%, #9F06FF 84.63%);
      color: #FFF;
    }
  }
  &-wrapper {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    z-index: 1000;
    position: absolute;
    top: 0;
    background-color: #FFF;
    width: 100vw;
    height: calc(100vh);
  }
}