.root {
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
  width: 100%;
  & > h3 {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-align: left;
  }
  & > img {
    margin-bottom: 20px;
  }
  & > div {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    & > button {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      color: white;
      border: none;
      background: none;
      margin-bottom: 12px;
      background: none;
      background: #7F4B87;
      padding: 10px 21px;
      border-radius: 6px;
      font-family: 'Inter';
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: center;
      min-width: 150px;
      &:hover {
        opacity: 0.8;
      }
      &:last-child {
        color: #7F4B87;
        background-color: transparent;
        border: 1px solid#7F4B87;
        &:hover {
          background-color: #7F4B87;
          color: white;
        }
      }
    }
  }
}