.root {
  max-width: 1120px !important;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 32px;
  & .head {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
    & > h3 {
      white-space: nowrap;
      font-family: "Inter";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
      color: #001A49;
    }
    & > button {
      display: flex;
      // flex-basis: 89%;
      background: none;
      background: #7F4B87;
      padding: 10px 21px;
      border-radius: 6px;
      font-family: 'Inter';
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: center;
    }
  }
  & > h2 {
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 29px;
  }
  & > form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.block {
  flex-basis: 48%;
  max-width: 48%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  & > div {
    margin-bottom: 16px;
  }
  & h4 {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-align: left;
    margin-bottom: 6px;
    color: black;
    text-transform: uppercase;
  }
  & label {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    color: #7D7D8C;
    text-align: left;
    position: relative;
    &.required {
      &::after {
        content: '*';
        position: absolute;
        color: red;
        display: block;
        font-size: 14px;
        right: -10px;
        top: 1px;
      }
    }
  }
  & textarea {
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    width: 100%;
    border-color: transparent;
    border-width: 2px;
    resize: none;
    padding: 10px 18px;
    border-radius: 10px;
    background-color: #EBF3F9;
    padding: 10px 16px;
    border-radius: 6px;
    &:focus, &:hover, &:empty {
      border: 2px solid #7D7D8C;
    }
  }
  &-title {
    width: 100%;
    &__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 14px;
      & > span {
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: right;
        color: #7D7D8C;
      }
    }
    & > div {
      width: 100%;
    }
  }
  &-anounce {
    width: 100%;
    &__content {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      & > label:first-child {
        background-color: #EBF3F9;
        width: 30px;
        height: 30px;
        border-radius: 6px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.isChecked {
          border: 1px solid #7F4B87;
          &:after {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #7F4B87;
          }
        }
        & > input {
          display: none;
        }
      }
      & > select {
        margin-left: 54px;
        padding: 10px 16px;
        cursor: pointer;
        font-family: 'Inter';
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;
        width: 65%;
        border: 2px solid transparent;
        background: none;
        border-radius: 10px;
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;
        background-color: #EBF3F9;
        padding: 10px 16px;
        border-radius: 6px;
        &:hover {
          border: 2px solid #7D7D8C;
        }
      }
    }
    & > div {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      min-width: 450px;
      font-family: 'Inter';
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0px;
      white-space: nowrap;
      color: #7D7D8C;
      text-align: left;
      position: relative;
      &.isMain {
        margin-top: 20px;
        justify-content: flex-start;
      }
      & > label:first-child {
        background-color: #EBF3F9;
        width: 30px;
        height: 30px;
        border-radius: 6px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.isChecked {
          border: 1px solid #7F4B87;
          &:after {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #7F4B87;
          }
        }
        & > input {
          display: none;
        }
      }
    }
  }

  &-list {
    width: 100%;
    &__content {
      &-controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // margin-bottom: 16px;
        & > button {
          margin-top: 10px;
          margin-bottom: 20px;
          display: flex;
          flex-basis: 89%;
          background: none;
          background: #7F4B87;
          padding: 10px 21px;
          border-radius: 6px;
          font-family: 'Inter';
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0px;
          text-align: center;
        }
      }
      &-input {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        & > select {
          width: 100%;
          padding: 10px 16px;
          cursor: pointer;
          font-family: 'Inter';
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0px;
          text-align: left;
          border: 2px solid transparent;
          background: none;
          border-radius: 10px;
          -moz-appearance:none; /* Firefox */
          -webkit-appearance:none; /* Safari and Chrome */
          appearance:none;
          color: #7D7D8C;
          background-color: #F5EEF8;
        }
        & > button {
          padding: 16px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-left: 16px;
          background: none;
          background-color: #EBF3F9;
          padding: 16px 16px;
          border-radius: 6px;
        }
      }
    }
  }

  &-description {
    width: 100%;
    &__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 14px;
      & > span {
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: right;
        color: #7D7D8C;
      }
    }
    & > div {
      width: 100%;
    }
  }
}

.selectOption {
  color: black;
  background-color: white;
}