.root {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  width: 88.875%;
  position: relative;
  margin-top: 20px;
  &:first-child {
    margin-top: 0;
  }
  & > div {
    background-color: #FFFFFF;
    overflow: hidden;
    &:last-child {
      border-radius: 30px;
    }
  }
}

.openButton {
  position: absolute;
  background: #FFF;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  &-wrapper {
    border-radius: 32%;
    left: 102%;
    top: 72px;
    position: absolute;
    width: 10%;
    max-width: 75px;
    &::after {
      display: block;
      content: '';
      padding-top: 100%;
    }
  }
  & > img {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 50%;
    transform: rotate(180deg);
  }
  &.isOpened {
    & > img {
      transform: rotate(0deg);
    }
  }
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #EEDFFF;
  margin-bottom: -1px;
  padding-right: 35px;
  min-height: 23vh;
  &-text {
    padding: {
      top: 35px;
      bottom: 32px;
      left: 35px;
      right: 35px;
    }
    width: 100%;
    max-width: 72%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    & > div {
      position: relative;
      margin-bottom: 22px;
      width: auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-right: 20px;
      & > h4 {
        font-family: "Montserrat";
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 0px;
        position: relative;
        z-index: 10;
        width: auto;
      }
      &::before {
        display: block;
        position: absolute;
        top: 21px;
        left: 4px;
        content: '';
        width: 100%;
        height: 17px;
        background-color: #D6B1FF;
        z-index: 0;
      }
    }
    & > p {
      font-family: 'Inter';
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0px;
      text-overflow: ellipsis;
      position: relative;
    }
    &.disabled {
      opacity: 0.5;
    }
  }
  &-lectures {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #AA84B4;
    text-transform: uppercase;
    height: 100%;
    padding-top: 30px;
    &.disabled {
      opacity: 0.5;
    }
    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      & > span {
        font-family: 'Montserrat';
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        letter-spacing: 2px;
      }
      & > p {
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 2px;
      }
    }
    &__flag {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 160px;
      filter: drop-shadow(10.75px 20px 55px #B0B5C1);
      & > img {
        width: 100%;
      }
      & > span {
        top: 18px;
        position: absolute;
        color: #FFF;
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 3px;
        text-align: center;
      }
    }
    &__openButton {
      display: none;
    }
  }
  & > picture > img{
    position: absolute;
    width: 13%;
    height: 100%;
    right: 0;
    top: 0;
    &.disabled {
      opacity: 0.5;
    }
  }
}

.content {
  padding: 18px 40px 37px;
  width: 100%;
  &-authors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    & > h4 {
      flex-basis: 100%;
      font-family: 'Manrope';
      font-size: 24px;
      font-weight: 800;
      line-height: 46px;
      letter-spacing: 0em;
      margin-bottom: 10px;
    }
    &__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-basis: 48%;
      margin-bottom: 20px;
      &-photo {
        flex-basis: 13%;
        position: relative;
        width: 13%;
        &::before {
          display: block;
          content: '';
          padding-top: 100%;
        }
        & > picture > img {
          border-radius: 50%;
          border: 3px solid #EFD1F5;
          position: absolute;
          top: 0; bottom: 0; right: 0; left: 0;
          width: 100%;
          margin-right: 13px;
        }
      }
      &-text {
        flex-basis: 84%;
        padding-top: 6px;
        & > span {
          font-family: 'Montserrat';
          font-size: 18px;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 0px;
          color: #6D3676;
        }
        & > p {
          margin-top: 2px;
          font-family: 'Inter';
          font-size: 12px;
          font-weight: 400;
          line-height: 15px;
          letter-spacing: 0px;
          color: #000;
        }
      }
    }
  }
  &-videos {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    &__slider {
      width: 100%;
      &-arrow {
        z-index: 50;
        background-color: #FAF4FF;
        border-radius: 24%;
        border: 1px solid #D3B3DB;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        & > img {
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 50%;
        }
        &::after {
          content: '';
          display: block;
          padding-top: 100%;
        }
        &__wrapper {
          position: relative;
          width: 5%;
          max-width: 54px;
          margin-right: 4%;
          margin-left: 3%;
          margin-top: 210px;
          &.next {
            transform: rotate(180deg);
          }
          &::after {
            content: '';
            display: block;
            padding-top: 100%;
          }
        }
      }
      &-wrapper {
        // width: 100%;
        max-width: 681px;
        width: 76%;
      }
    }
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      & > h5 {
        width: 100%;
        font-family: 'Manrope';
        font-size: 22px;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0em;
        color: #000;
        margin-bottom: 15px;
        text-align: left;
      }
      & > img, & > div {
        width: 100%;
        height: 100%;
        position: relative;
        height: calc(56% + 1px);
        border: 2px solid #DDCBF0;
        & > iframe {
          position: absolute;
          max-width: 681px;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
      & > div {
        &::after {
          content: '';
          display: block;
          padding-top: 56.2%;
        }
      }
      & > p {
        margin-top: 12px;
        font-family: "Manrope";
        font-size: 19px;
        font-weight: 600;
        line-height: 33px;
        letter-spacing: 0em;
        color: #000;
      }
    }
  }
}
