.content {
  &-authors {
    &__item {
      &-text {
        & > span {
          font-size: 15px;
          line-height: 16px;
        }
        & > p {
          font-size: 10px;
          line-height: 12px;
        }
      }
    }
  }
  &-videos {
    &__item {
      & > h5 {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 12px;
      }
      & > p {
        font-size: 16px;
        line-height: 27px;
      }
    }
  }
}