.card {
  &-text {
    & > div {
      & > h4 {
        font-size: 24px;
        line-height: 28px;
      }
      &::before {
        top: 16px;
        height: 14px;
      }
    }
    & > p {
      font-size: 13.5px;
      line-height: 20px;
    }
  }
  &-lectures {
    padding-top: 0;
    &__text {
      & > span {
        font-size: 40px;
        line-height: 49px;
      }
      & > p {
        font-size: 15px;
        line-height: 18px;
      }
    }
    &__flag {
      width: 110px;
      & > span {
        font-size: 14px;
        line-height: 17.5px;
      }
    }
  }
}