.root {
  width: 100%;
}

.openButton {
  &-wrapper {
    display: none;
  }
}

.card {
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  padding-bottom: 40px;
  &-text {
    padding: 0;
    max-width: initial;
    & > div {
      & > h4 {
        font-size: 21px;
        line-height: 1.2;
      }
      &::before {
        top: 14px;
        height: 10px;
      }
    }
    & > p {
      font-size: 15px;
      line-height: 22px;
    }
  }
  &-lectures {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    padding-top: 12px;
    &.disabled {
      align-items: flex-start;
    }
    &__flag {
      position: relative;
      width: 104px;
      margin-right: 14px;
      & > span {
        text-align: center;
        top: 11px;
        font-size: 13px;
        line-height: 1.3;
      }
    }
    &__text {
      & > span {
        font-size: 44px;
        line-height: 1.2;
      }
      & > p {
        font-size: 16px;
        line-height: 1.2;
      }
    }
    &__openButton {
      padding: 16px 54px;
      background: #7A2C86;
      border-radius: 18px;
      display: block;
      font-size: 13px;
      line-height: 16px;
      left: 2.25px;
      font-weight: 700;
      font-family: 'Montserrat';
      text-transform: uppercase;
    }
  }
  & > picture > img {
    display: none;
  }
}

.content {
  padding-left: 0;
  padding-right: 0;
  &-authors {
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 9vw;
    &__item {
      &-text {
        & > span {
          font-size: 16px;
          line-height: 18px;
        }
        & > p {
          font-size: 13px;
          line-height: 17px;
        }
      }
    }
  }
  &-videos {
    // position: relative;
    &__slider {
      &-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        max-width: initial;
      }
      &-arrow {
        &__wrapper {
          position: absolute;
          margin-top: 0;
          margin-right: 0;
          margin-left: 0;
          left: 3%;
          top: 0;
          max-width: 67px;
          width: 12%;
          &.next {
            right: 3%;
            left: initial;
          }
        }
        & > img {
          width: 40%;
        }
      }
    }
    &__item {
      width: 100%;
      padding-top: 2vw;
      & > h5 {
        text-align: center;
        font-size: 21px;
        line-height: 26px;
        margin-bottom: 8vw;
      }
      & > p {
        padding-left: 3%;
        padding-right: 3%;
        font-size: 18px;
        line-height: 27px;
      }
    }
  }
}