.card {
  &-text {
    & > div {
      & > h4 {
        font-size: 17px;
        line-height: 21px;
      }
      &::before {
        top: 11px;
        height: 10px;
      }
    }
    & > p {
      font-size: 10px;
      line-height: 15px;
    }
  }
  &-lectures {
    &__flag {
      width: 80px;
      & > span {
        text-align: center;
        top: 11px;
        font-size: 10px;
        line-height: 1.3;
      }
    }
    &__text {
      & > span {
        font-size: 29px;
        line-height: 1.2;
      }
      & > p {
        font-size: 11px;
        line-height: 1.2;
      }
    }
  }
}

.content {
  &-authors {
    &__item {
      flex-basis: 100%;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 10px;
      }
      &-text {
        & > span {
          font-size: 11px;
          line-height: 12px;
        }
        & > p {
          font-size: 9px;
          line-height: 11px;
        }
      }
    }
  }
  &-videos {
    &__item {
      & > h5 {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 8px;
      }
      & > p {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
}