.backdrop {
  backdrop-filter: blur(10px);
}

.wrapper {
  border-radius: 2vh !important;
  // overflow: hidden;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  & > p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    padding: 4vh 3vw 3vh 3vw;
    color: #001A49;
  }
}

.header {
  width: 100%;
  padding: 3vh 3vw;
  background-color: #DC5757;
  & > h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    color: white;
  }
}

.options {
  width: 100%;
  padding: 0 3vw 3vh 3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 48%;
    margin-bottom: 1.5vh;
    border: 2px solid #E2C7F3;
    padding: 20px 16px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      border-color: #7A2C86;
      background-color: #7A2C86;
      & > span {
        background-color: white;
      }
      & > p {
        color: white;
      }
    }
    & > span {
      margin-right: 10px;
      border-radius: 50%;
      display: block;
      width: 20px;
      height: 20px;
      min-height: 20px;
      min-width: 20px;
      background: #E2C7F3;
    }
    & > p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
    }
  }
}

.failure {
  background-color: #292C75;
  padding: 140px 22px 160px 22px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 18px;
  }
  & > p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 30px;
    text-align: center;
  }
  & > button {
    padding: 14px 30px;
    max-width: 409px;
    width: 100%;
    left: 20px;
    bottom: 287px;
    background: #E2C7F3;
    border-radius: 12px;
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #292C75;
    text-transform: uppercase;
    &:hover {
      background: #7A2C86;
      color: white;
    }
  }
}