.wrapper {
  margin: 2vw !important;
}

.root {
  & > p {
    font-size: 24px;
    line-height: 1.2;
  }
}

.header {
  & > h2 {
    font-size: 15px;
    line-height: 1.1;
  }
}

.options {
  & > div {
    flex-basis: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    & > p {
      font-size: 15px;
      line-height: 1.6;
    }
  }
}