.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 14px;
  border: 2px solid transparent;
  &:last-child {
    margin-bottom: 0;
  }
  &.isOpened {
    border: 2px solid #7D7D8C;
    border-radius: 16px;
  }
}

.head {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  & > h6 {
    width: 100%;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    background-color: #EBF3F9;
    padding: 10px 16px;
    border-radius: 6px;
  }
  & > div {
    display: flex;
    flex-direction: row;
    & > button {
      background: none;
      border: none;
      padding: 13px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-left: 16px;
      background-color: #EBF3F9;
      padding: 10px 13px;
      border-radius: 6px;
      &.arrow {
        // width: 20px;
        & > img {
          object-fit: cover;
        }
        &.isOpened {
  
          transform: rotate(180deg);
        }
      }
    }
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #7D7D8C;
  padding: 16px 10px;
  & > img {
    margin-right: 16px;
  }
  & > p {
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }
}