$mobile-width: 480px;
$mobile-xl-width: 700px;
$portrait-width: 800px;
$landscape-width: 1024px;
$landscape-xl-width: 1150px;
$desktop-width: 1280px;
$desktop-xl-width: 1300px;
$hd-width: 1440px;
$full-hd-width: 1920px;

$color-text-black: #001A49;
$color-text-black-light: #4F596A;