.root {
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 500px;
  width: 100%;
  & > h3 {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-align: left;
  }
  & > div {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    &.isActive {
      & > p {
        color: black;
      }
    }
    & > button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: #7F4B87;
      padding: 10px 30px;
      width: 100%;
      border-radius: 8px;
      color: white;
    }
    & > p {
      max-width: 500px;
      width: 500px;
      font-family: 'Inter';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: left;
      padding-top: 8px;
      padding-bottom: 8px;
      color: #7D7D8C;
    }
    & > div {
      margin-left: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      & > button {
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: none;
        width: 42px;
        height: 42px;
        background-color: #EBF3F9;
        border-radius: 6px;
        margin-left: 10px;
        &:first-child {
          margin-left: 0;
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}