.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 24px;
  & > h5 {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-align: left;
    color: black;
    text-transform: uppercase;
  }
  & > h6 {
    padding-top: 10px;
    padding-bottom: 6px;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.08em;
    text-align: left;
    color: black;
    opacity: 0.9;
    text-transform: uppercase;
  }
  & > label {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 15px;
    & > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      & > span {
        margin-bottom: 4px;
        font-family: 'Inter';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        color: #7D7D8C;
        & > span {
          position: relative;
          bottom: 5px;
          color: #EB5757;
        }
      }
    }
    & > span {
      margin-bottom: 4px;
      font-family: 'Inter';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
      color: #7D7D8C;
      & > span {
        position: relative;
        bottom: 1px;
        color: #EB5757;
      }
    }
    & > input:not([type=file]), & > textarea {
      min-width: 443px;
      border-radius: 6px;
      background-color: #EBF3F9;
      font-family: 'Inter';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: left;
      border: none;
      outline: none;
      padding: 10px 15px;
      resize: none;
      &::placeholder {
        color: #7D7D8C;
      }
    }
    & .fileLabel {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      & > span {
        padding: 10px 29px;
        background: none;
        background-color: #7F4B87;
        border-radius: 6px;
        color: white;
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
        margin-right: 18px;
        cursor: pointer;
      }
      & > p {
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;
        color: #252323;
      }
    }
  }

  & > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 450px;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    white-space: nowrap;
    color: #7D7D8C;
    text-align: left;
    position: relative;
    &.isMain {
      margin-top: 20px;
      justify-content: flex-start;
    }
    & > label:first-child {
      background-color: #EBF3F9;
      width: 30px;
      height: 30px;
      border-radius: 6px;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      &.isChecked {
        border: 1px solid #7F4B87;
        &:after {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #7F4B87;
        }
      }
      & > input {
        display: none;
      }
    }
    & > select {
      margin-left: 54px;
      padding: 10px 16px;
      cursor: pointer;
      font-family: 'Inter';
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: left;
      width: 65%;
      border: 2px solid transparent;
      background: none;
      border-radius: 10px;
      -moz-appearance:none; /* Firefox */
      -webkit-appearance:none; /* Safari and Chrome */
      appearance:none;
      background-color: #EBF3F9;
      padding: 10px 16px;
      border-radius: 6px;
      &:hover {
        border: 2px solid #7D7D8C;
      }
    }
  }

  & > button {
    margin-top: 22px;
    width: 100%;
    padding: 10px 29px;
    background: none;
    background-color: #7F4B87;
    border-radius: 6px;
    color: white;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    margin-right: 18px;
  }
  & .deleteButton {
    padding: 0;
    background: none;
    background-color: transparent;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: #EB5757;
  }
}